{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/jquery-jvectormap-1.2.2.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-material.min.css" %}">
    <link rel="stylesheet" href="{% static "css/app-material.min.css" %}">
    <link rel="stylesheet" href="{% static "css/icons.min.css" %}">
{% endblock  %}

{% block title %}Products{% endblock  %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">

            <div class="product-action">
                <a href="javascript: void(0);" class="btn btn-success btn-xs waves-effect waves-light"><i class="mdi mdi-pencil"></i></a>
                <a href="javascript: void(0);" class="btn btn-danger btn-xs waves-effect waves-light"><i class="mdi mdi-close"></i></a>
            </div>

            <div class="bg-light">
                <img src="{% static 'onlineapp/images/product-2.png' %}" alt="product-pic" class="img-fluid" />
            </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="ecommerce-product-detail.html" class="text-dark">Adirondack Chair</a> </h5>
                        <div class="text-warning mb-2 font-13">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h5 class="m-0"> <span class="text-muted"> Stocks : 98 pcs</span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            $39
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            
            <div class="product-action">
                <a href="javascript: void(0);" class="btn btn-success btn-xs waves-effect waves-light"><i class="mdi mdi-pencil"></i></a>
                <a href="javascript: void(0);" class="btn btn-danger btn-xs waves-effect waves-light"><i class="mdi mdi-close"></i></a>
            </div>

            <div class="bg-light">
                <img src="{% static 'onlineapp/images/product-3.png' %}" alt="product-pic" class="img-fluid" />
            </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="ecommerce-product-detail.html" class="text-dark">Biblio Plastic Armchair</a> </h5>
                        <div class="text-warning mb-2 font-13">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h5 class="m-0"> <span class="text-muted"> Stocks : 23 pcs</span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            $98
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            
            <div class="product-action">
                <a href="javascript: void(0);" class="btn btn-success btn-xs waves-effect waves-light"><i class="mdi mdi-pencil"></i></a>
                <a href="javascript: void(0);" class="btn btn-danger btn-xs waves-effect waves-light"><i class="mdi mdi-close"></i></a>
            </div>

            <div class="bg-light">
                <img src="{% static 'onlineapp/images/product-4.png' %}" alt="product-pic" class="img-fluid" />
            </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="ecommerce-product-detail.html" class="text-dark">Amazing Modern Chair</a> </h5>
                        <div class="text-warning mb-2 font-13">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h5 class="m-0"> <span class="text-muted"> Stocks : 235 pcs</span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            $49
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card-box product-box">
            
            <div class="product-action">
                <a href="javascript: void(0);" class="btn btn-success btn-xs waves-effect waves-light"><i class="mdi mdi-pencil"></i></a>
                <a href="javascript: void(0);" class="btn btn-danger btn-xs waves-effect waves-light"><i class="mdi mdi-close"></i></a>
            </div>

            <div class="bg-light">
                <img src="{% static 'onlineapp/images/product-5.png' %}" alt="product-pic" class="img-fluid" />
            </div>

            <div class="product-info">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="font-16 mt-0 sp-line-1"><a href="ecommerce-product-detail.html" class="text-dark">Designer Awesome Chair</a> </h5>
                        <div class="text-warning mb-2 font-13">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            
                        </div>
                        <h5 class="m-0"> <span class="text-muted"> Stocks : 385 pcs</span></h5>
                    </div>
                    <div class="col-auto">
                        <div class="product-price-tag">
                            $29
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->
        </div> <!-- end card-box-->
    </div> <!-- end col-->
</div>

{% endblock  %}

{% block scripts %}
    <script src="{% static "js/app.min.js" %}"></script>
{% endblock  %}