<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-6">
                    <form method="post"></form>
                </div>
                <div class="col-lg-6">
                    <div class="text-lg-right">
                        <a href="{% url "add_product" %}" class="btn btn-primary">Add New Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>